* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "spartan", sans-serif;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}
h5 {
  font-weight: 400;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #222;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}

body {
  width: 100%;
}

/* ----------header page----------- */

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
  color: #1a1a1a;
  transition: 0.3s ease;
}

#navbar li a button {
  font-size: 18px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  padding: 5px 25px;
  border: 2px solid #83043d;
  border-radius: 5px;
  background-color: #fff;
  color: #83043d;
}

#name {
  text-decoration: none;
  font-size: 25px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}

#name span {
  text-decoration: none;
  font-size: 22px;
  font-weight: 400;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  color: #83043d;
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #088178;
  position: absolute;
  bottom: -5px;
  left: 25px;
}

#mobile {
  display: none;
  align-items: center;
}

#close {
  display: none;
}

/* ---------------home page------------ */

#hero {
  background-color: #0f3373;
  height: 55vh;
  width: 95%;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 40px 35px 0px 35px;
  border-radius: 15px;
  background-image: url(img/animated.gif);
  background-repeat: no-repeat;
  background-position: 120% 35%;
}

#hero span {
  font-family: cursive;
  font-style: italic;
  color: rgb(197, 248, 93);
}

#hero h2 {
  padding-bottom: 15px;
  color: #fff;
}

#hero p {
  padding-bottom: 15px;
  color: #fff;
}

#hero div {
  display: flex;
}

#hero input {
  height: 3.125rem;
  padding: 0 1.25rem;
  font-size: 14px;
  width: 400px;
  border: 1px solid transparent;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  outline: none;
}

#hero button {
  background-color: #0b1645;
  color: #fff;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* ---------------feature area---------------- */

#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#feature .fe-box {
  width: 100px;
  text-align: center;
  padding: 25px 0px 0px 0px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid #0b1645;
  border-radius: 4px;
  margin: 15px 0;
  text-align: center;
  height: 15vh;
}

#feature .fe-box i {
  padding: 10px;
}

#feature .fe-box:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .fe-box img {
  width: 100%;
  margin-bottom: 10px;
}

#feature .fe-box h6 {
  display: inline-block;
  padding: 10px;
  line-height: 1;
  width: 100%;
  height: 6.5vh;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  color: #fff;
  background-color: #020303;
}

/* ----------------product area------------- */

#product1 .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}

#product1 .pro {
  color: white;
  background-color: #d3b3bd;
  width: 10%;
  min-width: 200px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0px;
  transition: 0.2s ease;
  position: relative;
}

#product1 .pro h3 {
  margin: 20px 0px 30px 0px;
}

#product1 h2 {
  color: #0b1645;
}

#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.09);
}

#product1 .pro img {
  width: 100%;
  border-radius: 20px;
  margin: 20px 0px 0px 0px;
}
/*     --------------pro--------- */
.inside-div {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.inside-div .name {
  padding: 15px 0px 0px 10px;
}

/* --------------fac area-------------- */

#fac {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#fac .facility {
  padding: 30px 5px 15px 5px;
  width: 300px;
  display: flex;
  flex-direction: column;
}

#fac .facility .heading {
  font-size: 25px;
  font-weight: 600;
}

#fac .facility p {
  font-size: 15px;
}

#fac .facility .awesome {
  font-size: 3rem;
  padding: 0px 0px 20px 0px;
}

/* --------------------banner area------------------ */

#banner {
  margin: 0px;
  padding: 0px 80px;
}

#banner p {
  font-size: 45px;
  font-weight: 400;
  color: grey;
}

#banner p span {
  color: #83043d;
  font-style: italic;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* --------------logo area---------------- */

#logomaker {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c1e8f8;
  margin: 80px;
  padding: 40px;
  border-radius: 10px;
}

#logomaker .left p {
  padding: 5px 0px;
}

#logomaker .left #first {
  font-size: 50px;
}

#logomaker .left #first span {
  font-weight: 700;
  color: #83043d;
}

#logomaker .left #second {
  font-size: 35px;
}

#logomaker .left #second span {
  color: orange;
}

#logomaker .left button {
  width: 250px;
  height: 45px;
  font-size: 18px;
  font-weight: 900px;
  background-color: #020303;
  color: #fff;
  padding: 10px;
  border-radius: 7px;
  border: none;
}

#logomaker .right {
  display: flex;
}

#logomaker .right img {
  max-width: 100%;
  max-height: 100%;
}

#logomaker .right .up {
  margin-right: -127px;
  width: 400px;
  height: 400px;
}

#logomaker .right .down {
  width: 300px;
  height: 300px;
}

/* -----------------new area---------------------- */

#new {
  background-color: #5f022c;
  height: 30vh;
  width: 95%;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px 35px 0px 35px;
  border-radius: 15px;
}

#new h2 {
  color: #fff;
  padding: 20px 0px;
}

#new h2 span {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: italic;
}

#new button {
  color: #83043d;
  background-color: #fff;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  padding: 2px 25px;
  border-radius: 6px;
  outline: none;
  border: none;
}

/* --------------------footer area-------------------- */

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer .logo {
  margin-bottom: 30px;
}

footer h4 {
  font-size: 18px;
  padding-bottom: 20px;
}

footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}

footer a {
  font-size: 13px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}

footer .follow {
  margin-top: 20px;
}

footer .follow {
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}

footer .install .row img {
  border: 1px solid #088178;
  border-radius: 6px;
}

footer .install img {
  margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
  color: #088178;
}

footer .copyright {
  width: 100%;
  text-align: center;
}

/* ================= designing page============== */

.section-p2 {
  padding: 20px 80px;
}

#starter {
  padding: 0px 80px;
}

#starter h6 span {
  color: #83043d;
}

#starter h6 {
  margin: 20px 0px;
}

#starter h5 {
  margin-top: 40px;
}
#starter div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.line {
  background-color: #e4e4e4;
  padding: 12px;
  border-radius: 10px;
}

/* --------------product area------------- */

.product1 {
  text-align: center;
  padding: 0px 80px;
}

.product1 .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}

.product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
  background-color: #fff;
}

.product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.09);
}

.product1 .pro img {
  width: 100%;
}

.product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}

.product1 .pro .des span {
  color: #000000;
  font-size: 14px;
  font-weight: bolder;
}

.product1 .pro .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}

.product1 .pro .des i {
  font-size: 14px;
  color: rgb(243, 181, 25);
}

.product1 .pro .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
}

.product1 .pro .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  font-weight: 500;
  color: #088178;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

/* ---------------- pagination area---------------- */

#pagination {
  text-align: center;
}

#pagination a {
  text-decoration: none;
  padding: 15px 20px;
  border-radius: 4px;
  color: #010101;
  font-weight: 600;
}

#pagination #boxx {
  font-size: 20px;
  font-weight: 900;
  padding: 15px;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 1px 7px rgba(219, 170, 207, 0.11);

  border-radius: 100px;
  color: #83043d;
}
