* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "cabin", sans-serif;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #222;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}

body {
  width: 100%;
}

/* ----------header page----------- */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
  cursor: pointer;
}

.navbar li a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
  color: #1a1a1a;
  transition: 0.3s ease;
}

.navbar li button {
  font-size: 24px;
  font-family: "caveat", Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: normal;
  font-weight: 900;
  padding: 5px 20px;
  border-radius: 5px;
  background-color: #fff;
  color: #83043d;
}

.name {
  text-decoration: none;
  font-size: 36px;
  font-weight: 700;
  color: #1a1a1a;
  transition: 0.3s ease;
}

.name span {
  text-decoration: none;
  font-size: 36px;
  font-weight: 700;
  font-family: "caveat", Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: normal;
  color: #83043d;
  transition: 0.3s ease;
}

.name-2 {
  justify-content: center;
  align-items: center;
}

.navbar li a:hover,
.navbar li a.active {
  color: #088178;
}

.navbar li a.active::after,
.navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #088178;
  position: absolute;
  bottom: -5px;
  left: 25px;
}

.mobile {
  display: none;
  align-items: center;
}

.close {
  display: none;
}

/* ---------------home page------------ */

.hero {
  background-color: #5f022c;
  height: 55vh;
  width: 95%;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 40px 35px 0px 35px;
  border-radius: 15px;
}

.hero span {
  font-family: "caveat";
  font-style: italic;
  letter-spacing: 0.75px;
}

.hero h2 {
  padding-bottom: 15px;
  color: #fff;
  font-weight: 400;
}

.hero p {
  padding-bottom: 15px;
  color: #fff;
}

.hero div {
  display: flex;
}

.hero input {
  height: 3.2rem;
  padding: 0 1.25rem;
  font-size: 14px;
  width: 400px;
  border: 1px solid transparent;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  outline: none;
}

.hero button {
  background-color: #db3262;
  color: #fff;

  border-radius: 4px;
  height: 3.25rem;
  padding: 0 1.25rem;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* ---------------feature area---------------- */

.feature {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.fe-box {
  width: 120px;
  text-align: center;
  padding: 20px 40px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  border: 1px solid #b8b6b6;
  border-radius: 18px;
  margin: 15px 0;
  text-align: center;
  cursor: pointer;
}

ion-icon {
  font-size: 20px;
}

.fe-box:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

.fe-box img {
  width: 100%;
  margin-bottom: 10px;
}

.fe-box h5 {
  display: inline-block;
  padding: 8px;
  line-height: 1;
  border-radius: 4px;
  color: #020303;
}

/* ----------------product area------------- */

.pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}

.pro {
  color: black;
  width: 10%;
  min-width: 200px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0px;
  transition: 0.2s ease;
  position: relative;
}

h3 {
  text-align: center;
  margin: 20px 0px 10px 0px;
}

.pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.09);
}

.pro img {
  width: 100%;
  border-radius: 20px;
  margin: 10px 0px 0px 0px;
}

.pro-1 {
  background-color: #00732e;
}

.pro-2 {
  background-color: #411124;
}

.product1 .pro-3 {
  background-color: #d0fc03;
}

.product1 .pro-4 {
  background-color: #421300;
}

.product1 .pro-5 {
  background-color: #003912;
}

.product1 .pro-6 {
  background-color: #ee5a24;
}

/* --------------fac area-------------- */

.fac {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.facility {
  padding: 30px 5px 15px 5px;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.facility .heading {
  font-size: 25px;
  font-weight: 600;
}

.facility p {
  font-size: 15px;
}

.facility img {
  width: 55px;
  height: 57px;
  flex-shrink: 0;
}

/* --------------------banner area------------------ */

.banner {
  margin: 0px;
}

p {
  font-size: 54px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.68);
}

.banner p span {
  color: #83043d;
  font-style: italic;
  font-family: "caveat", Cochin, Georgia, Times, "Times New Roman", serif;
}

/* --------------logo area---------------- */

.logomaker {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c0e3d6;
  margin: 80px;
  padding: 40px;
  border-radius: 10px;
}

.logomaker .left p {
  padding: 5px 0px;
}

.logomaker .left #first {
  font-size: 50px;
}

.logomaker .left #first span {
  font-weight: 700;
  color: #83043d;
}

.logomaker .left #second {
  font-size: 35px;
}

.logomaker .left #second span {
  color: orange;
}

.logomaker .left button {
  width: 250px;
  height: 45px;
  font-size: 18px;
  font-weight: 900px;
  background-color: #020303;
  color: #fff;
  padding: 10px;
  border-radius: 7px;
  border: none;
}

.logomaker .right {
  display: flex;
}

.logomaker .right img {
  max-width: 100%;
  max-height: 100%;
}

.logomaker .right .up {
  margin-right: -127px;
  width: 400px;
  height: 400px;
}

.logomaker .right .down {
  width: 300px;
  height: 300px;
}

/* -----------------new area---------------------- */

.new {
  background-color: #5f022c;
  height: 35vh;
  width: 95%;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px 35px 0px 35px;
  border-radius: 15px;
}

.new h2 {
  color: #fff;
  padding: 20px 0px;
}

.new h2 span {
  font-family: "caveat", Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: normal;
}

.new button {
  color: #83043d;
  background-color: #fff;
  font-size: 30px;
  font-weight: 700;
  font-family: "caveat", Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: normal;
  padding: 2px 29px;
  border-radius: 6px;
  outline: none;
  border: none;
}

/* --------------------footer area-------------------- */

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.footer .logo {
  margin-bottom: 30px;
}

.col h4 {
  font-size: 18px;
  padding-bottom: 20px;
}

.col p {
  font-size: 13px;
  margin: 0 0 8px 0;
}

.col a {
  font-size: 13px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}

.col .follow {
  margin-top: 20px;
}

.col .follow {
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}
.install .row img {
  border: 1px solid #088178;
  border-radius: 6px;
}

.footer .install img {
  margin: 10px 0 15px 0;
}

.footer .follow i:hover,
.footer a:hover {
  color: #088178;
}

.footer .copyright {
  width: 100%;
  text-align: center;
}

/*--------------------- end -----------------------------------*/

.end {
  color: rgba(0, 0, 0, 0.5);
  font-family: Cabin;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: auto;
}

.end span {
  color: rgba(104, 6, 55, 0.7);
  font-family: Caveat;
  font-size: 34px;
  font-weight: 700;
  line-height: normal;
}
.separation {
  height: 1px;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.264);
}

.container {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 500px;
  width: 100%;
  margin: auto;
}

.container > form {
  width: 70%;
  border: 1px solid #dfdfdf;
  padding: 20px;
  border-radius: 5px;
  background: #fff;
}

.container input {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 25px;
  border-radius: 9%;
}

.container pre {
  width: 70%;
  color: #fff;
  font-size: larger;
}

.container button {
  background: #05b462 !important;
  padding: 5px;
  border-radius: 10px;
  width: 100%;
}

.container p {
  color: rgb(255, 0, 0);
}

.container .text {
  margin: 2px;
  padding: 5px;
}

.container span {
  color: rgb(0, 95, 236);
  cursor: pointer;
}

/* .logo {
  height: 60px;
  border: 1px solid red;
} */
